<div class="top-float">
  <h3>Wardrobe</h3>
  <login-buttons></login-buttons>
</div>
<div class="wrapu">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Item Name</label>
      <input ng-model="newItem.name" class="form-control">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Type</label>
      <select ng-model="newItem.type" class="form-control">
      <option value="top">top</option>
      <option value="bottom">bottom</option>
      <option value="shoes">Shoes</option>
      <option value="others">Other</option>
    </select>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Item URL</label>
      <input ng-model="newItem.url" class="form-control">
    </div>

    <button ng-click="addItem()" class="btn btn-default">Add item</button>

  </form>
</div>